<div>
  <img src="img/hero.png" class="d-flex carImageHero" alt="Hero Image" />
</div>
<div class="banner">
  <h1 class="fontBanner">Autos clásicos en miniatura</h1>
</div>
<div class="banner">
  <h3 class="fontBanner">Registrate y disfrutá de éstos y muchos modelos más!</h3>
</div>


<!-- SAMPLE PRODUCTS CAROUSEL -->
<div class="sampleContainer">
  <img src="img/of_3.png" class="carImageSample" alt="image1" />
  <img src="img/of_8.png" class="carImageSample" alt="image1" />
  <img src="img/of_1.jpg" class="carImageSample" alt="image1" />
  <img src="img/of_5.png" class="carImageSample" alt="image1" />
  <img src="img/of_7.png" class="carImageSample" alt="image1" />
  <img src="img/of_2.png" class="carImageSample" alt="image1" />
</div>